
*{
    margin:0px;
    font-family: 'Roboto', sans-serif;
}

.header{
    display:flex;
    flex-direction:row;
    background-color:white;
    justify-content:space-between;
    align-items: center;
    padding:4px  20px 4px 20px;
    height:55px;
    z-index:9999;
}


.account{
    height:30px;
    margin-right:10px;
}

.account-section{
    display:flex;
    flex-direction:row;
    align-items: center;
    cursor: pointer;
    transition:color 1s;
}

.acc{
    color: black;
    text-decoration: none;
    transition: color 1s;
}
.acc:hover{
    color:rgb(207, 45, 45);
    text-decoration:underline;
}

.page-title{
    display:flex;
    flex-direction:row;
    align-items:center;
}

.logo{
    height:30px;
    margin-right:10px;
}

.tutor{
    height:30px;
}

.my-books{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.layout{
    display:flex;
    flex-direction: row;
}

.create{
    display:flex;
    flex-direction: column;
    background-color: rgb(113, 108, 108);
    margin-top:40px;
    margin-bottom:32px;
    height:100px;
    width:610px;
    margin-right:360px;
    color:white;
    text-align:left;
    font-size:40px;
    padding-top:20px;
    padding-left:20px;
    box-shadow:5px 5px 10px rgb(0, 0, 0, 0.15);
}

.fill-in{
    font-size:20px;
}

.form{
    background-color: #535151;
    display:flex;
    flex-direction: column;
    align-items: center;
    width:836px;
    height:658px;
}

.library{
    width:720px;
    height:658px;
    max-width:100%;
}


.submit{
    margin-top:30px;
    background-color:#eff1f4;
    border-style:solid;
    border-width: 1px;
    border-radius:10px;
    width:70px;
    height:30px;
    cursor: pointer;
    transition:box-shadow 1s, background-color 1s;
}

.submit:hover{
    box-shadow:5px 5px 10px rgb(0, 0, 0, 0.15);
    background-color:rgb(86, 108, 114);;
}

.lec-choose{
    margin-bottom:10px;
    margin-right:10px;
    font-size:30px;
    color:white;
}

.choose-lec{
    display:flex;
    flex-direction: row;
}

select{
    display:flex;
    flex-direction: row;
    align-items: center;
    border-radius:6px;
    height:34px;
    cursor: pointer;
}

.hour-text{
    color:white;
    font-size: 26px;
    margin-bottom:10px;
    margin-top:20px;
    
}

.hours{
    color:white;
}

.topic{
    display:flex;
    flex-direction: column;
    color:white;
    margin-top:10px;
    font-size:26px;
}

.describe{
    height:80px;
}

.date{
    border-radius:6px;
    height:34px;
    cursor: pointer;
}

.date-box{
    margin-bottom:10px;
    margin-right:10px;
    font-size:30px;
    color:white;
    margin-left:20px;
}


footer{
    background-color: rgb(180, 167, 167);
    height:170px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    padding-left:20px;
    padding-right: 20px;
    z-index:9999;
    color:#F4F9FF;
}

.about-info{
    padding-left:120px;
    text-align: center;
    line-height:20px;
}

.socials{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contacts {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding-right:60px;
    cursor: pointer;
    transition: color 1s;
}

.contacts:hover{
    color:#201f1f;
    text-decoration:underline;
}

.icons{
    height:24px;
}

.official-website{
    font-size: 15px;
    cursor: pointer;
    transition:color 1s;
}

.official-website:hover{
    color:#201f1f;
    text-decoration:underline;
}

.design{
    padding-top:30px;
    height:50px;
    background-color:#201f1f;
    color:#eff1f4;
    text-align: center;
}

